* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
    font-family: sans-serif;
    /* outline: 1px solid red; */
}
body{
    z-index: 3;
    transition: 0.4s ease-in-out;
}
.section-p {
    padding: 10px 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .logo {
    padding: 0 40px;
    font-size: 18px;
    font-weight: 800;
}

header .nav-list ul {
    display: flex;
    align-items: center;
    justify-content: center;

}

header .nav-list ul li {
    list-style: none;
    padding: 14px 20px;
}

header .nav-list ul li a {
    text-decoration: none;
    color: black;
}

header .background-img {
    background-image: url('images/image-hero-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
}

header span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

main {
    width: 50%;
    position: relative;
    top: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

.darkBackground::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
}

#top {
    position: relative;
    /* height: 200px; */
    background-color: azure;
    border-radius: 10px;
    padding: 0px 40px;

}

#top .logo {
    position: absolute;
    left: 43%;
    top: -14%;

}

#top h1 {
    padding: 40px 0px 10px 0;
}

#top p {
    text-align: center;
    font-size: 1.1rem;
}

#top .buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#top .back-this-pro {
    background-color: rgb(64, 161, 137);
    transition: 0.4s ease-in;
    font-weight: 600;
    color: white;
}

.color {
    color: rgb(48, 129, 109);
}

#top .back-this-pro:hover {
    background-color: rgb(55, 138, 117);
}

#top .bookmark {
    text-align: center;
    width: 120px;
    height: 37px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
}

#bookmark-img {
    /* background-color:rgb(55, 138, 117) ; */
}

#bookmark-img::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 185px;
    right: 140px;
    background-color: rgb(55, 138, 117);
    z-index: 3;
    border-radius: 50%;
}

#top .bookmark img {
    width: 30px;
}

/* utilities */
.heading {
    text-align: center;
}

.btn {
    padding: 10px 9px;
    border-radius: 20px;
    border: 1px solid rgb(228, 221, 207);
}

#calculation-info {
    /* height: 200px; */
    /* display: flex; */
    padding: 40px 0px;
    background-color: azure;
    margin-top: 10px;
    padding: 0 10px;

}

#calculation-info .calculation {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px;

}

.backers,
.days-left {
    /* border-left: 1px solid rgb(122, 122, 122); */
    padding-left: 50px;
    width: 120px;
}

.backed {
    width: 110px;
}

.backed p {
    font-size: 0.8rem;
}

.backers p {
    font-size: 0.8rem;

}

.days-left p {
    font-size: 0.8rem;

}

#calculation-info .bar {
    height: 15px;
    background-color: rgb(223, 223, 223);
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

#calculation-info .bar .bar-top {
    position: absolute;
    height: 15px;
    width: 10%;
    background-color: rgb(64, 161, 137);
    border-radius: 10px;
}


#about-project {
    background-color: azure;
    margin-top: 10px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.heading {
    text-align: center;
    margin: 20px 0;
}

.para {
    padding-bottom: 20px;
}

.bamboo-stand-info {
    width: 80%;
    padding: 20px 20px;
    border: 1px solid rgb(177, 177, 177);
    margin: 20px 0;
    border-radius: 10px;
}
.bambo{
    display: flex;
    justify-content: left;
    align-items: center;
    border-top: 1px solid gray;
    padding-top: 2px;
}
.bambo input{
    width: 60px;
    height: 30px;
    border-radius: 30px;
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    margin-right: 5px;

}
.bambo p{
   margin-right: 55px;
   display: inline-block;
}
.bamboo-stand-info h2 span {
    display: inline;
    text-align: right;
    margin-left: 14%;
    font-size: 0.9rem;
}

.black{
    padding: 0;
    margin: 0;
}
.black input{
    width: 60px;
    height: 30px;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    border: 1px solid gray;
}
.black p{
    display: inline-block;
    margin-right: 55px;
}
.black button{
    margin: 0;
    display: inline-block;
}

.black-edition {
    width: 80%;
   border: 1px solid gray;
   border-radius: 10px;
   padding: 20px;
   margin: 20px;
}

.special-edition {
    width: 80%;
    border: 1px solid rgb(177, 177, 177);
    margin: 20px 0; 
    padding: 20px 20px;
    border-radius: 10px;
}

.special-edition-container{
    border-top: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.special-edition-container input{
    width: 60px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 30px;
    outline: none;
}
.special-edition-container p{
    flex-basis: 60%;
}
.reward {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reward p span {
    font-weight: 600;
    font-size: 1.3rem;
}

.reward .btn {
    background-color: rgb(48, 177, 166);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.reward .btn:hover {
    background-color: rgb(38, 143, 134);
}

.headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.headings span {
    color: rgb(48, 177, 166);
}

.headings h2 {
    font-size: 1.2rem;
}

/* for medium screen  */


.utlity-class {

    width: 100%;
    margin: 10px auto;
}

.container2 {
    background-color: azure;
    margin: 0 auto;
    width: 80%;
    display: none;
    position: absolute;
    top: 350px;
    left: 10%;
    padding: 20px 40px;
    z-index: 6;
    border-radius: 10px;

}

.cross {
    cursor: pointer;
    font-size: 1.5rem;

}

.container2 h3 {
    padding: 20px 0;
}

.pledge-withNo-reward h4 {
    color: rgb(48, 177, 166);
    cursor: pointer;
}

.level-one {
    display: flex;
}

#first-radio {
    margin: 0px 30px 0px 0px;
}

.success-modal {
    display: none;
    z-index: 2;
    width: 350px;
    height: 300px;
    position: absolute;
    left: 37vw;
    top: 75vh;
    /* border: 1px solid black; */
    background-color: white;
    padding: 10px;
    text-align: justify;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s, display 1s;
}
.visible{
    display: block;
    opacity: 1;
}
.success-modal img{
    margin: 0px 130px;
}
.success-modal h3{
    margin: 10px 0;
    text-align: center;
}
.success-modal p{
    text-align: center;
}
.success-modal button{
    width: 80px;
    padding: 10px 20px;
    margin: 20px 125px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: rgb(38, 143, 134);
    color: white;
} 
.level {
    display: flex;
    justify-content: space-between;
    color: rgb(48, 177, 166);

}

.level h4 {
    cursor: pointer;
}

.pledge {
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 10px 20px;
    border-radius: 5px;
}

.level span {
    font-size: 0.9rem;
    color: rgb(48, 177, 166);
    font-weight: 600;
}

.out-of-stock{
    pointer-events: none;
    color: gray !important;
}
.out-of-stock div{
    color: gray;
}
.out-of-stock div span{
    color: gray;
}


.black-left{
    padding: 0px 5px;
}
.bambo-left{
    padding: 0px 5px;
}

.black-editon-container .level h4{
    flex-basis: 75%;
}
.bambo-stand-container .level h4{
    flex-basis: 75%;
}

.special-edition-container-heading {
    display: flex;
    align-items: center;
    
}
.special-edition-container-heading h4{
    flex-basis: 78%;
}
.special-edition-container-heading input{
    margin-right: 30px;
}
.special-edition-container-heading span{
    text-align: right;
    font-size: .9em ;
    font-weight: bold;
}
.hidden{
    
}
@media (max-width: 970px) {
    main {
        width: 80%;
        position: relative;
        top: 100px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    header .nav-list ul li {
        list-style: none;
        padding: 14px 8px;
    }

    header .logo {
        padding: 0 11px;
        font-size: 16px;
        font-weight: 800;
    }

    header .logo img {
        width: 100px;
    }

    #top {
        padding: 0px 0px;
    }

    .bamboo-stand-info {
        width: 93%;
    }

    .black-edition {
        width: 93%;

    }

    .special-edition {
        width: 93%;
    }
    .success-modal {
        position: absolute;
        left: 50%;
        top: 65vh;
        transform: translate(-50%,-50%);
    }
    .black-editon-container .level h4{
        flex-basis: 40%;
    }
    .bambo-stand-container .level h4{
        flex-basis: 40%;
    }
    .special-edition-container-heading {
        display: flex;
        align-items: center;
        
    }
    .special-edition-container-heading h4{
        flex-basis: 44%;
    }
    .special-edition-container-heading input{
        margin-right: 30px;
    }
    .special-edition-container-heading span{
        text-align: right;
        font-size: .9em ;
        font-weight: bold;
    }
}
